name: Deploy to GitHub Pages

on:
  push:
    branches: ["main", "feature/first_order"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup ANTLR
        run: |
          curl -O https://www.antlr.org/download/antlr-4.13.2-complete.jar
          echo '#!/bin/bash' > antlr
          echo 'java -jar '$PWD'/antlr-4.13.2-complete.jar "$@"' >> antlr
          chmod +x antlr
          sudo mv antlr /usr/local/bin/

      - name: Install dependencies
        run: |
          rm -f package-lock.json
          npm install

      - name: Generate Grammar
        run: npm run antlr

      - name: Build
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Завантажуємо весь поточний каталог (з dist, css, img та index.html)
          path: '.'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
